/* refinance-mortgage-lenders start here */
.Refinance-heading{
    text-align: center;
    padding-top: 40px;
}
.Refinance-heading h1{
    color: #88B379;
    font-family: "poppins";
    font-weight: 600;
}
.Refinance-heading h3{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
}
.Refinance-heading p{
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 15px;
}
.tabs{
    width: 68%;
}
.refinance-tabs{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.buyer{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.buyer-btn1 button {
    color: #88B379;
    background-color: #fff;
    border-radius: 21px;
    padding: 9px 41px;
    border: 1px solid  #88B379;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
.buyer-btn2 button {
    color: #9E9E9E;
    background-color: #fff;
    border-radius: 21px;
    padding: 9px 41px;
    border: 1px solid  #9E9E9E;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}


.refinance-mortgage-lenders-sec ::placeholder{
    font-size: 16px !important;
}


.foam-btn{
    color: #fff;
    background-color: #88B379;
    border-radius: 21px;
    padding: 9px 56px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-family: "poppins";
    font-weight: 400;
    text-align: left;
    margin-left: 20px;
    font-size: 16px;
}
.form-group{
    text-align: left;
}
.form-control {
    display: block;
    padding-right: 126px !important;
    margin: 0 10px;
    font-size: 1rem;
    border-radius: 20px !important;
    border: 2px solid #000000 !important;
    color: #9E9E9E !important;
}

.refinance-mortgage-lenders-sec option{
    background-color: #EBF1EA;
    font-size: 16px;
}
.toolspageheading{
    margin-top: 30px;
}
.toolspageheading a{
    color: #88B379;
    text-decoration: underline;
    font-family: "poppins";
    font-weight: 500;
    font-size: 25px;
    display: block;
}
.tab-heading{
    padding: 30px 0;
    text-align: left;
}
.tab-heading h3{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 29px;
}
.about-mortagagetoolspage{
    margin-top: 50px;
    padding-bottom: 30px;

}
.about-refinancepage h5{
    color: #88B379;
    font-family: "poppins";
    font-weight: 400;
}
.about-refinancepage h2{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 29px;
}
.about-refinancepage p{
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
}
.pointsrefinancepage p{
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
}
.pointsrefinancepage h2{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 29px;
}
.pointsrefinancepage{
    margin-top: 50px;
    margin-bottom: 30px;
}
.pointsrefinancepage li{
    list-style:circle ;
    color: #303030;
    display: flex;
    font-family: "poppins";
    font-weight: 400;
}
.pointsrefinancepage li::before {
    content: "";
    height: 8px;
    width: 8px;
    margin-top: 10px;
    background-image: url(../img/dot.png);
    background-size: cover;
    margin-right: 10px;
}
.refinance-faqs{
    margin: 30px 0;
}
.refinance-faqs h1{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 35px;
}

/* refinance-mortgage-lenders end here */
@media screen and (max-width: 768px) {
    .form-control {
        display: block;
        width: 100%;
        padding: 20px !important;
        font-size: 1rem;
        line-height: 1.5;
        margin: 0 !important;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .form-control {
        padding: 6px !important;
    }
}