@font-face {
    font-family: Poppinssemi;
    src: url(../fonts/Poppins-SemiBold.ttf);
  }
/* homeequityloansec start here */
section.homeequityloan-sec {
    padding-bottom: 56px;
}
.Refinance-heading{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
.Refinance-heading h1 {
    color: #88B379;
    font-family: "poppins-semibold";
    font-weight: 600;
    font-size: 55px;    
}
.aboutrefinance-heading{
    padding-top: 30px;
    padding-bottom: 10px;
}
.Refinance-heading h3 {
    color: #303030;
    font-family: "poppins-medium";
    font-weight: 500;
    font-size: 42;
}
.Refinance-heading p{
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 15px;
    padding: 0 100px;
}

.base-heading h3 {
    color: #303030;
    font-family: "poppins-medium";
    font-weight: 500;
    font-size: 35px;
}
.home-btn {
    margin: -7px 19px;
}
.home-btn a{
    color: #fff;
    background-color: #88B379;
    border-radius: 21px;
    padding: 9px 44px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
.detail-tables {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
    border-top:1px solid #7070704f ;
    margin-top: 10px;
}
.detail-btn a{
    color: #303030;
    font-family: Poppinssemi;
    font-weight: 400;
    font-size: 15px;
}

.est-heading h5 {
    color: #303030;
    opacity: 0.5;
    font-size: 16px;
}

.est1 p {
    color: #303030;
    font-family: Poppins-semibold;
    font-size: 18px;
    margin-top: 0px;
}
.est2 {
    margin: -9px 20px;
}
.est1 {
    margin: 16px 21px;
}
.est p {
    color: #303030;
    font-family: Poppins-semibold;
    font-size: 18px;
    margin-top: 0px;
}
.est2 p {
    color: #303030;
    font-family: Poppins-semibold;
    font-size: 18px;
    margin-top: 0px;
}
.est {
    margin-top: 20px;
}
.est-heading {
    margin-left: 22px;
}
.better {
    padding: 15px 0;
}
.est-about{
    border-left: 2px solid #707070;
    padding: 4px 10px ;
    height: 100px;
}

.base-heading {
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #707070;
    border-top: 1px solid #707070;
    margin-bottom: 13px;
}
.personal-info {
    margin-bottom: 60px;
}
.home-btn2  {
    text-align: center;
    padding: 45px 0;
}
.home-btn2 a{
    color: #fff;
    background-color: #88B379;
    border-radius: 21px;
    padding: 9px 56px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
.personal-info .form-control {
    display: block;
    width:100% !important;
    border: 1px solid #000000 !important;
    border-radius: 21px !important;
}
.personal-info .form-control::placeholder{
    color: #A9AEA9;
    font-family: "poppins";
    font-weight: 400;
    font-size: 15px;
    padding-left: 10px;
}

.text-select {
    font-size: 15px;
    font-family: "poppins";
    font-weight: 400;
}

.personal-info ::placeholder {
    color: #303030;
    font-size: 14px;
}

.home-btn3 {
    text-align: center;
    margin-top: 30px;

}
.home-btn3 a{
    color: #fff;
    background-color: #88B379;
    border-radius: 21px;
    padding: 9px 108px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-family: "poppins";
    font-weight: 400;
    text-align: left;
    font-size: 16px;
}
.personal-heading h4{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 20px;
}
.personal-heading{
    padding: 20px 0;
}
.about-est {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
}
.better-img img {
    width: 84%;
}
.est-abouts {
    text-align: center;
}
/* end here */
/* info-sec start here */
.pointcalculatorpage h2 {
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 29px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pointscalculatorpage p {
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 49px;
}

.pointscalculatorpage {
    padding-top: 20px;
}

.pointscalculatorpage li {
    list-style: none;
    display: flex;
    font-family: "poppins";
    font-weight: 400;
}

.pointscalculatorpage li::before {
    content: "";
    height: 8px;
    width: 8px;
    margin-top: 10px;
    background-image: url(../img/dot.png);
    background-size: cover;
    margin-right: 20px;
}
.info-sec {
    padding-bottom: 100px ! important;
}
.card .card-header .accord1 {
    font-size: 22px;
    color: #000000;
    font-family: "poppins-semibold";
    font-weight: 400;
}
.about-calculatorpage h2 {
    font-size: 42px;
    color: #000000;
    font-family: "poppins-medium";
    font-weight: 400;
    margin-bottom: 30px;
}
.pointscalculatorpage h2{
    font-size: 42px;
    color: #000000;
    font-family: "poppins-medium";
    font-weight: 400;
    margin-bottom: 30px;
}
.about-calculatorpage p {
    font-size: 16px;
    color: #000000;
    font-family: "poppins-regular";
    font-weight: 400;
}
/* info-sec end here */