.frequently-headin{
    margin-top: 50px;
}
.frequently-headin p{
    color: #303030;
    font-family: "Poppins-Regular";
    font-size: 14px;
}

.frequently-sec{
    padding-bottom: 110px !important;
}

.frequently-headin h3{
    color: #88B379;
    font-family: "poppins";
    font-weight: 600;
    font-size: 49px;
    margin-bottom: 30px ! important;
}