.frequently-headin{
    margin-top: 50px;
}
.frequently-headin p{
    color: #303030;
    font-family: "Poppins-Regular";
    font-size: 14px;
}

.frequently-sec{
    padding-bottom: 110px !important;
}