  


.get-started-btn{
    color: #FFFFFF !important;
    font-size: 13px;
    font-family: poopinsmedium;
    background-color: #88B379;
    padding: 8px 25px;
    border: 1px solid transparent;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;
    transition: 1s all;
}

.get-started-btn:hover{
    border: 1px solid #88B379;
    background-color: #FFFFFF;
    color: #88B379 !important;
}