/*@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');*/
.Refinance-heading{
    text-align: center;
    padding-top: 40px;
    margin-bottom: 70px;
}
.Refinance-heading h1{
    color: #88B379;
    font-family: "poppins";
    font-weight: 600;
    font-size: 55px;
}
.Refinance-heading h3{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 42px;
}
.Refinance-heading p{
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 15px;
    padding: 0px 120px
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard .btn.disabled, .stepwizard .btn1[disabled], .stepwizard fieldset[disabled] .btn1 {
    opacity:1 !important;
    color:#bbb;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.stepwizard-row.setup-panel {
    display: flex;
    align-items: center;
    margin: 0px -10px;
    overflow: hidden;
}
.btn-success.focus, .btn-success:focus {
    box-shadow: none !important;
}

.stepwizard-row .stepwizard-step .btn1 {
    /* color: #fff !important; */
    padding: 6px 14px;
    /* border: 1px solid #88B379; */
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
    margin: 0px 11px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-decoration: none;
    width: 139.6px;
}
button.btn.btn-primary.nextBtn {
    margin-top: 30px;
    margin-left: 11px;
}
a.btn1.btn-circle.btn-default {
    color: #9B9B9B !important;
}
a.btn1.btn-circle.btn-default.btn-success{
    color: #fff !important;
}
.stepwizard {
    border-bottom: 1px solid #707070;
}

.btn-success {
    color: #9B9B9B !important;
    background-color: #88b379 !important;
    border-color:  #88b379;
}

.tab-1{
    text-align: center;
    width: 100%;
    margin: 90px 0px;
}
.form-group select.form-control{
    border: 1px solid #000000 ! important;
    height: calc(2.25rem + 6px) !important;
    width: 424px !important;
    color: #9E9E9E !important;
    font-size: 16px;
    font-family: "poppins";
    font-weight: 500;
    padding: 0px 28px;
}
 .form-group label {
    font-size: 14px;
    font-family: "poppins";
    font-weight: 400;
    color: #303030;
}
.form-group1 label {
    font-size: 14px;
    font-family: "poppins";
    font-weight: 400;
    color: #303030;
}

.loan .form-control {
    display: block;
    width: 100%;
    padding-right: 193px !important;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group{
    text-align: left;
}
 .form-control {
    padding: 8px 25px;
    border-radius: 20px !important;
    border: 1px solid #000000 !important;
    width: 424px !important;
}
.tab1form1 .form-group {
    margin: 10px 10px;
}
input#exampleFormControlSelect1::placeholder {
    font-size: 16px;
    font-family: "poppins";
    font-weight: 400;
    color: #9E9E9E !important;
}
.tab1form1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.card-button2 {
    margin-top: 30px;
    margin-left: 15px;
}
/* radio button */
.single-input .button {
    background-color: transparent;
    border: 1px solid;
    border-radius: 23px;
    padding: 8px 33px;
    font-size: 14px;
    font-family: "Poppins-Regular";
    cursor: pointer;
}

.single-input .button {
    border: 1px solid #9E9E9E !important;
    color: #9E9E9E;
    margin-left: 10px;
    margin-top: 10px !important;
}

.contact_container input:checked~span.button {
    border: 2px solid #88B379 !important;
    color: #88B379;
}
label.contact_container {
    display: table-cell;
}
.tab1form1 .form-group1 {
    margin-left: 162px;
}
@media  (max-width: 1024px) {
    .stepwizard:before {
        
        left: 119px;
    }
    .form-group select.form-control {     
        width: 354px !important; 
    }
    .form-control {
      
        width: 369px !important;
    }
    button.btn.nextbutton.btn-primary.nextBtn {
        
        margin-left: 18px;
    }
    .form-group label {
        font-size: 14px;
    }
    .single-input .button {
       font-size: 10px;
        margin-left: 6px;
    }
}
@media  (max-width: 768px) {
    .stepwizard:before {
        left: 91px;
        width: 576px;
    }
    .stepwizard-row .stepwizard-step .btn1 {
               width: 99.6px;
    }
    select#exampleFormControlSelect1 {
        background-position-x: 311px !important;
       
    }
    button.btn.btn-primary.nextBtn {
        margin-top: 20px;
        margin-left: 51px;
    }
    .single-input .button {
        font-size: 15px;
        margin-left: 10px;
    }
    .form-group {
        margin: 0 100px;
    }
    .tab1form1 {
        display: block;
        
    }
    .Refinance-heading p {
        padding: 0px 60px;
        font-size: 10px;
    }
    .Refinance-heading h3 {
        
        font-size: 22px;
    }
    .tab1form1 .form-group {
        margin: 17px 159px;
    }
    .form-group1 label {
        margin-left: -284px;
    }
    .Refinance-heading h1 {
       
        font-size: 35px;
    }
}
@media  (max-width: 567px){
    .stepwizard:before {
        left: 20px;
        width: 516px;
    }
    .stepwizard-row .stepwizard-step .btn1 {
        width: 89.6px;
    }
    .tab1form1 .form-group {
        margin: 20px 90px;
    }
    select#exampleFormControlSelect1 {
        background-position-x: 311px !important;
       
    }
    button.btn.btn-primary.nextBtn {
        margin-top: 20px;
        margin-left: 1px;
    }
    .Refinance-heading h3 {
        
        font-size: 25px;
        
    }
    .Refinance-heading p {
        
        font-size: 13px;
        padding: 0px 0px;
    }
    button.btn.btn-primary.nextBtn {
        margin-top: 20px;
        margin-left: 9px;
    }
    .single-input .button {
        font-size: 15px;
        margin-left: 10px;
    }
    .form-group {
        margin: 0px 46px;
    }
    .form-group1 label {
        margin-left: -46px;
        font-size: 12px;
    }
    .form-group label {
        font-size: 12px;
    }
    .tab1form1 .form-group1 {
        margin-left: 88px;
    }
}
@media  (max-width: 425px) {
    .stepwizard:before {
        width: 326px;
        left: 46px;
    }
    .stepwizard-row .stepwizard-step .btn1 {
        width: 66.6px;
        font-size: 10px;
    }
    .tab1form1 .form-group {
        margin: 20px 20px;
    }
    .Refinance-heading p {
        
        font-size: 9px;
        padding: 0px -24px;
    }
    .Refinance-heading h3 {
        
        font-size: 20px;
        
    }
    button.btn.btn-primary.nextBtn {
        margin-top: 21px;
        margin-left: 50px;
    }
    .form-group {
        margin: 0px 20px;
    }
    .Refinance-heading h1 {

        font-size: 21px;
    }
    
    .tab1form1 .form-group1 {
        margin-left: 22px;
    }
    .form-group1 label {
        margin-left: -162px;
        font-size: 12px;
    }
}

