@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* refinance-lenders start here */
.Refinance-heading{
    text-align: center;
    padding-top: 40px;
    border-bottom: 1px solid #707070;
    padding-bottom: 50px;
}
.Refinance-heading h1 {
    color: #88B379;
    font-family: "poppins-semibold";
    font-weight: 600;
    font-size: 55px;
}
.aboutrefinance-heading{
    padding-top: 30px;
    padding-bottom: 10px;
}
.Refinance-heading h3 {
    color: #303030;
    font-family: "poppins-medium";
    font-weight: 500;
    font-size: 42px;
}
.Refinance-heading p {
    color: #303030;
    font-family: "poppins-regular";
    font-weight: 400;
    font-size: 16px;
}
.refinance-lenders-sec .better-btn button {
    color: #fff;
    background-color: #88B379;
    border-radius: 21px;
    padding: 9px 41px;
    border: 1px solid  #88B379;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
.refinance-lenders-sec .better-img p{
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 14px;
}
.refinance-lenders-sec .better {
    padding: 30px 0 !important;
    vertical-align: top;
    border-top: transparent !important;
    border-top: 1px solid #dee2e6 !important;
    vertical-align: middle !important;
}
.better-img{
    text-align: left;
}
.better-img img{
    margin-bottom: 15px;
}
.better-btn {
    /* text-align: right; */
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 54px;
}
.better-info{
    padding-bottom: 30px;
}
.this-table{
    text-align: center;
    padding-bottom: 140px;
}
.about-it{
  text-align: center;
}
.lender{
    width: 39%;
}
.down-payment{
    text-align: center;
}

.refinance-lenders-sec .table{
    padding-top: 30px;
}
.refinance-lenders-sec .table h3{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
    font-size: 42px;
}

.refinance-lenders-sec .table p{
    margin-top: 8px;
}
.refinance-lenders-sec a {
    color: #88B379;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;

}
.base-heading {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 40px;
}
.base-heading h3 {
    font-family: "poppins";
    font-size: 33px;
    color: #303030;
    font-weight: 500;
}
/* refinance-lenders end here */
@media screen and (max-width: 768px) {
    .refinance-lenders-sec  .table h3 {
        font-size: 33px;
    }
    .table img{
        width: 76px;
    }
}
@media screen  and (max-width: 576px){
    .this-table table{
        width: 576px !important;
        overflow-x: scroll;
    }
    .refinance-lenders-sec .table button {
        padding: 3px 18px;
        font-size: 11px;
    }
    .refinance-lenders-sec  .table thead th {
        font-size: 15px;
    }
    .about-it{
        text-align: left;
      }
      .lender{
          width:300px;
      }
      .down-payment{
         width:100px;
      }
      .td-more{
          text-align: right;
      }
      .th-more{
          text-align: right;
          width:100px;
      }
      .refinance-lenders-sec .table p {
        font-size: 10px;
        margin-bottom: 0 !important;
    }
}