/* .income-calculator start here */
.income-calculator-sec {
    padding-bottom: 140px;
}

.income-calculator-heading {
    text-align: center;
    padding-top: 40px;
}

.income-calculator-heading h1 {
    color: #88B379;
    font-family: "poppins-semibold";
    font-weight: 600;
    font-size: 55px;
}

.aboutincome-calculator-heading {
    padding-top: 50px;
}

.income-calculator-heading h3 {
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
}

.about-work {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding-top: 10px;
}

.step {
    width: 100%;
}
.camparison-table{
    margin-top: 70px;
}
.abt-step {
    width: 30%;
}

.step-img {
    border: 2px solid #707070;
    border-radius: 53px;
    width: 81px;
    height: 78px;
    padding: 7px 14px;
    text-align: center;
}

.step-img span {
    font-family: "poppins-semibold";
    font-weight: 600;
    color: #88B379;
    margin-top: 2px;
    font-size: 30px;
    line-height: 23px;
}
section.camparison-sec {
    margin-bottom: 120px;
}
.step-img p {
    font-family: "poppins";
    font-weight: 600;
    color: #303030;
    margin: 3px;
    text-transform: uppercase;
}

.step-circle {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
th.side-border {
    text-align: left;
}
.about-step {
    margin-top: 15px;
}
.about-step p {
    color: #303030;
    font-family: "poppins-regular";
    font-weight: 400;
    font-size: 16px;
    padding: 0px 30px;
}

.income-calculator {
    width: 100%;
    text-align: center;
    margin-top: 33px;
    padding-bottom: 50px;
    border-bottom: 2px solid #707070;
}

.information-heading {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.information-heading h3 {
    color: #303030;
    font-family: "poppins-medium";
    font-weight: 500;
    font-size: 42px;
}

.calculator-form {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.about-calculatorform {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 0;
    text-align: left;
    width: 100%;
}


label {
    display: inline-block;
    margin-bottom: .5rem;
    font-family: "poppins";
    font-weight: 400;
    text-align: left;
    font-size: 16px;
}

.about-calculatorform .form-control {
    display: block;
    width: 100% !important;
    padding-right: 143px !important;
    padding-top: 9px !important;
    padding-left: 4px;
    border: 2px solid #000000 !important;
    border-radius: 21px !important;
}

.current-btn {
    width: 100%;
}

.buyer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.buyer-btn1 button {
    color: #88B379;
    background-color: #fff;
    border-radius: 21px;
    padding: 9px 41px;
    border: 1px solid #88B379;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}

.buyer-btn2 button {
    color: #9E9E9E;
    background-color: #fff;
    border-radius: 21px;
    padding: 9px 41px;
    border: 1px solid #9E9E9E;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}

.submit button {
    color: #fff;
    background-color: #88B379;
    border-radius: 21px;
    padding: 11px 51px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}

.down {
    margin-top: 12px;
}
.income{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.about-calculatorform .form-control {
    display: block;
    padding-right: 143px !important;
    padding-top: 3px !important;
    padding-left: 4px;
    border: 1px solid #000000 !important;
    border-radius: 21px !important;
    height: 42;
}
.income-foam {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}
.ratio{
    text-align: center;
    width: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.ratio-btn {
    width: 360px;
    height: 130px;
    padding: 9px 30px;
    border: 1px solid #88B379;
}
.ratio-btn p {
    font-family: "poppins-medium";
    font-weight: 500;
    color: #303030;
    font-size: 24px;
}
.ratio-btn h1{
    color: #88B379;
    font-family: "poppins";
    font-weight: 600;
}
/* .income-calculatorend here */
@media screen and (max-width: 580px) {
    .about-work {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }

    .step {
        width: 100%;
    }

    .abt-step {
        width: 100%;
    }

    .about-calculatorform {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 10px 0;
        width: 100%;
    }

    .about-calculatorform .form-control {
        display: block;
        width: 100% !important;
        padding-right: 0 !important;
    }

    .down {
        margin-top: 10;
    }
}

@media screen and (max-width: 768px) {
    .about-calculatorform .form-control {
        display: block;
        width: 100% !important;
        padding-right: 0 !important;
    }
}