/* refinance-mortgage-lenders start here */
.about-refinancepage {
    margin-top: 35px;
}
.Refinance-heading{
    text-align: center;
    padding-top: 40px;
}
.Refinance-heading h1{
    color: #88B379;
    font-family: "poppins";
    font-weight: 600;
}
.Refinance-heading h3{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
}
.Refinance-heading p{
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 15px;
}
.tabs{
    width: 90%;
}
.refinance-tabs{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
.about-tab1{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 84px;
}
.tab-1{
    text-align: center;
    width: 100%;
}
.tab1form {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    /* width: 108%; */
    padding: 10px 0;
    justify-content: center;
}
.about-tab2{
    display: flex;
    justify-content: left;
    width: 100%;
    padding-top: 84px;
}
.tab-2{
    text-align: center;
    width: 100%;
}
.tab2form {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    /* width: 108%; */
    padding: 10px 0;
    justify-content:left;
}
.tab-2 button {
    color: #fff;
    background-color: #88B379;
    border-radius: 21px;
    padding: 9px 56px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
.tab3{
    width: 100%;
text-align: center;
padding-top: 60px;
}
.tab-3info{
    display: flex;
    justify-content: space-between;
}
.buyer{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.buyer-btn1 button {
    color: #88B379;
    background-color: #fff;
    border-radius: 21px;
    padding: 9px 41px;
    border: 1px solid  #88B379;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
.buyer-btn2 button {
    color: #9E9E9E;
    background-color: #fff;
    border-radius: 21px;
    padding: 9px 41px;
    border: 1px solid  #9E9E9E;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
.tab-3info .form-control {
    display: block;
    width: 100% !important;
    /* padding: 6px 70px !important; */
    padding-right:88px !important;
    margin: 0 24px;
    font-size: 10px !important;
    border-radius: 20px !important;
    border: 2px solid #000000 !important;
    color: #9E9E9E !important;
}
.abouttab3{
    display: flex;
    justify-content: space-between;
}
.abouttab4{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.loan .form-control {
    display: block;
    width: 100%;
    padding-right: 193px !important;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.refinance-mortgage-lenders-sec ::placeholder{
    font-size: 16px !important;
}
.abouttab4 .form-control {
    display: block;
    width: 100% !important;
    /* padding: 6px 70px !important; */
    padding-right:90px !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    margin: 0 24px;
    font-size: 10px !important;
    border-radius: 20px !important;
    border: 2px solid #000000 !important;
    color: #9E9E9E !important;
}

.foam-btn{
    color: #fff;
    background-color: #88B379;
    border-radius: 21px;
    padding: 9px 56px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-family: "poppins";
    font-weight: 400;
    text-align: left;
    margin-left: 20px;
    font-size: 16px;
}
.form-group{
    text-align: left;
}
.form-control {
    width: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 130px !important;
    padding-left: 20px !important;
    color: #9D9D9D;
    font-family: "Poppins-Regular";
    font-size: 14.5px;
    border: 1.3px solid #000000 !important;
    height: 42px;
    border-radius: 25px !important;
    text-align: center;
}
.nav-tabs {
    width: 100%;
    border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #88B379 !important;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-item a {
   color: #9B9B9B !important;
    padding: 10px 26px;

}
.nav-tabs .nav-item {
    padding-right: 20px;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 1.25rem !important;
    border-top-right-radius: 1.25rem !important;
}
.tab-1 button {
    color: #fff;
    background-color: #88B379;
    border-radius: 21px;
    padding: 9px 56px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
.refinance-mortgage-lenders-sec option{
    background-color: #EBF1EA;
    font-size: 16px;
}
.toolspageheading{
    margin-top: 30px;
}
.toolspageheading a{
    color: #88B379;
    text-decoration: underline;
    font-family: "poppins";
    font-weight: 500;
    font-size: 25px;
    display: block;
}
.tab-heading{
    padding: 30px 0;
    text-align: left;
}
.tab-heading h3{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 29px;
}
.about-mortagagetoolspage{
    margin-top: 50px;
    padding-bottom: 30px;

}
.about-refinancepage h5{
    color: #88B379;
    font-family: "poppins";
    font-weight: 400;
}
.about-refinancepage h2{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 29px;
}
.about-refinancepage p{
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
}
.pointsrefinancepage p{
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
}
.pointsrefinancepage h2{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 29px;
}
.pointsrefinancepage{
    margin-top: 50px;
    margin-bottom: 30px;
}
.pointsrefinancepage li{
    list-style:circle ;
    color: #303030;
    display: flex;
    font-family: "poppins";
    font-weight: 400;
}
.pointsrefinancepage li::before {
    content: "";
    height: 8px;
    width: 8px;
    margin-top: 10px;
    background-image: url(../img/dot.png);
    background-size: cover;
    margin-right: 10px;
}
.refinance-faqs{
    margin: 30px 0;
}
.refinance-faqs h1{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 35px;
}
.analysis{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 30px;
}
/* refinance-mortgage-lenders end here */
@media screen and (max-width: 768px) {
    .abouttab3 {
        display: block;
    }
    .about-tab1 {
        display: block;
        width: 100%;
        padding-top: 10px;
    }
    .tab1form {
        display: block;
        /* width: 108%; */
        padding: 10px 0;
        /* justify-content: center; */
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 20px !important;
        font-size: 1rem;
        line-height: 1.5;
        margin: 0 !important;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .tab-3info {
        display:block;
    }
    .abouttab4 {
        display: block;
        padding: 20px 0;
    }
    .tab3{
    padding-top: 10px;
    }
    .form-control {
        padding: 6px !important;
    }
}