/* advisor start here */
.advisor-sec {
    padding-bottom: 140px;
}

.camparison-heading {
    text-align: center;
    padding-top: 40px;
}

.camparison-heading h1 {
    color: #88B379;
    font-family: "poppins-semibold";
    font-weight: 600;
    font-size: 55px;
    margin-bottom: 30px;
}
.acamparison-heading {
    padding-top: 50px;
}
.camparison-heading h3 {
    color: #303030;
    font-family: "poppins-medium";
    font-weight: 500;
    font-size: 42px;
}
.about-work {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding-top: 40px;
}

.step {
    width: 100%;
}
.camparison-table{
    margin-top: 70px;
}
.abt-step {
    width: 30%;
}

.step-img {
    border: 1px solid #707070;
    border-radius: 53px;
    width: 81px;
    height: 78px;
    padding: 9px 14px;
    text-align: center;
}

.step-img span {
    font-family: "poppins-semibold";
    font-weight: 600;
    color: #88B379;
    margin-top: 2px;
    font-size: 30px;
    line-height: 23px;
}
section.camparison-sec {
    margin-bottom: 120px;
}
.step-img p {
    font-family: "poppins";
    font-weight: 600;
    color: #303030;
    margin: 3px;
    text-transform: uppercase;
}

.step-circle {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
th.side-border {
    text-align: left;
}
.about-step {
    margin-top: 15px;
}
.about-step p {
    color: #303030;
    font-family: "poppins-regular";
    font-weight: 400;
    font-size: 16px;
    padding: 0px 30px;
}
.work {
    width: 100%;
    text-align: center;
    margin-top: 33px;
    padding-bottom: 50px;
    border-bottom: 2px solid #707070;
}
.checkbox-heading {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.checkbox-heading h3 {
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
}
.submit button {
    color: #fff;
    background-color: #88B379;
    border-radius: 21px;
    padding: 11px 51px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
.check-box-container{
    width: 100%;
}
label.rounded:before {
	content: "";
	display: inline-block;

	width: 20px;
	height: 20px;
  
  margin-right: 10px;
  top: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: gray;
}
.side-border{
    border-right: 1px solid #707070;
    font-family: "poppins";
    font-weight: 400;
    color: #303030;
    font-size: 15px;
}
.camparison-sec .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #88B379;
    font-family: "poppins";
    font-weight: 500;
    color: #000000;
    font-size: 18px;
}
.camparison-sec .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center;
}
.camparison-sec button {
    color: #fff;
    background-color: #88B379;
    border-radius: 21px;
    padding: 11px 51px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
.highlight{
    color: #EB0000;
    font-family: "poppins";
    font-weight: 400;
}
.check-box-button{
    text-align: center;
    padding: 40px 0;
}
span{
    font-family: "poppins";
    font-weight: 400;
    color: #000000;
}
/* checkbox */
.row.about-check {
    margin-bottom: 20px;
}
.check-box-container .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check-box-container  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .check-box-container  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    border: 1px solid #88B379;
  }
  
  /* On mouse-over, add a grey background color */
  .check-box-container  .container:hover input ~ .checkmark {
    background-color: #DCF1D5;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check-box-container  .container input:checked ~ .checkmark {
    background-color: #88B379;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .check-box-container  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-box-container  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check-box-container .container .checkmark:after {
    left: 9px;
    top: 2px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0px 2px 2px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media (max-width: 768px) {
    .result-table{
        width: 100%;
        overflow: scroll;
    }
}