/* refinance-lenders start here */
.Refinance-heading{
    text-align: center;
    padding-top: 40px;
    margin-bottom: 100px;
}
.Refinance-heading h1{
    color: #88B379;
    font-family: "poppins";
    font-weight: 600;
}
.aboutrefinance-heading{
    padding-top: 50px;
}
.Refinance-heading h3{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
}
.Refinance-heading p{
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 15px;
}

.refinance-lenders-sec .better-btn button {
    color: #fff;
    background-color: #88B379;
    border-radius: 21px;
    padding: 9px 41px;
    border: 1px solid  #88B379;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
.refinance-lenders-sec .better-info p{
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 15px;
    padding-right: 70px;
}
.refinance-lenders-sec .better {
    padding: 30px 0 !important;
    vertical-align: top;
    border-top: transparent !important;
    border-bottom: 1px solid #dee2e6;
    vertical-align: middle !important;
}
.better-img img{
    margin-bottom: 20px;
}
.better-img{
    text-align: left;
}
.better-btn {
    /* text-align: right; */
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 38px;
}
.better-info{
    padding-bottom: 30px;
}
.this-table{
    padding-bottom: 140px;
}
.about-it{
  text-align: center;
}
.lender{
    width: 39%;
}
.down-payment{
    text-align: center;
}

.refinance-lenders-sec .table{
    padding-top: 30px;
}
 .better-info h3{
    color: #000000;
    font-family: 'Poppins', sans-serif;

    padding-bottom: 20px;
    font-size: 18px;
}
.better-heading h3{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.refinance-lenders-sec .table p{
    margin-top: 8px;
}
.refinance-lenders-sec a {
    color: #88B379;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;

}
.base-heading{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #707070;
}
.better-heading{
    padding: 20px 10px;
    border-bottom: 1px solid #707070;
}
.better-heading-1{
    text-align: left;
}
.better-heading-2{
    text-align: center;
}
.better-heading-3{
    text-align: right;
}
.ammount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 43px;
}

/* refinance-lenders end here */
@media screen and (max-width: 768px) {
    .refinance-lenders-sec  .table h3 {
        font-size: 33px;
    }
    .table img{
        width: 76px;
    }
}
@media screen  and (max-width: 576px){
      .refinance-lenders-sec .table p {
        font-size: 10px;
        margin-bottom: 0 !important;
    }

    .better-heading{
        padding: 0;display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #707070;
    }
.refinance-lenders-sec .better-heading .row{
 display: contents;
}
.ammount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.better-btn {
    align-items: center;
    justify-content: center;
}
}

/* mortgage-sec end here */
.refinance-lenders-sec .table p{
    margin-top: 8px;
}
.refinance-lenders-sec a {
    color: #88B379;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;

}
