.Refinance-heading{
    text-align: center;
    padding-top: 40px;
    margin-bottom: 70px;
}
.Refinance-heading h1{
    color: #88B379;
    font-family: "poppins";
    font-weight: 600;
    font-size: 55px;
}
.Refinance-heading h3{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 42px;
    margin-top: 60px;
}
.Refinance-heading p{
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 15px;
    padding: 0px 70px;
}

.Mortgage-wrapper-content h3 {
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 42px;
    margin-bottom: 20px;
    transition: 0.5s;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard .btn.disabled, .stepwizard .btn1[disabled], .stepwizard fieldset[disabled] .btn1 {
    opacity:1 !important;
    color:#bbb;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.stepwizard-row.setup-panel {
    display: flex;
    align-items: center;
    margin: 0px -10px;
    justify-content: center;
    padding: 0 161px;
}
.btn-success.focus, .btn-success:focus {
    box-shadow: none !important;
}

.stepwizard-row .stepwizard-step .btn1 {
    /* color: #fff !important; */
    padding: 9px 14px;
    /* border: 1px solid #88B379; */
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
    margin: 0px 4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-decoration: none;
    width: 139.6px;
}
button.btn.btn-primary.nextBtn {
    margin-top: 30px;
    margin-left: 2px;
}
button.btn.nextbutton.btn-primary.nextBtn {
    margin-top: 50px;
    margin-left: -22px;
}
a.btn1.btn-circle.btn-default {
    color: #9B9B9B !important;
}
a.btn1.btn-circle.btn-default.btn-success{
    color: #fff !important;
}
.heading h3{
    display: block !important;
    text-align: start;
}
.stepwizard {
    border-bottom: 1px solid #707070;
}
/* .stepwizard:before {
    border-bottom: 1px solid #707070;
    padding: 10px -100px;
    content: "";
    width: 790px;
    height: 39px;
    color:  #707070;
    position: absolute;
    left: 398px;
} */
.btn-success {
    color: #9B9B9B !important;
    background-color: #88b379 !important;
    border-color:  #88b379;
}

.tab-1{
    text-align: center;
    width: 100%;
    margin: 90px 0px;
}
.form-group select.form-control{
    border: 1px solid #000000 ! important;
    height: calc(2.25rem + 6px) !important;
    color: #9E9E9E !important;
    font-size: 16px;
    font-family: "poppins";
    font-weight: 500;
    padding: 0px 28px;
}
 .form-group label {
    font-size: 16px;
    font-family: "poppins";
    font-weight: 400;
    color: #303030;
    margin-bottom: 10px;
    margin-left: 0;
}
.form-group1 label {
    font-size: 14px;
    font-family: "poppins";
    font-weight: 400;
    color: #303030;
}

.loan .form-control {
    display: block;
    width: 100%;
    padding-right: 193px !important;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group{
    text-align: left;
}
 .form-control {
    padding: 8px 25px;
    border-radius: 20px !important;
    border: 1px solid #000000 !important;
}
.tab1form1 .form-group {
    margin: 20px -10px;
}
.tab1form1 .form-group .single-input label {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
input#exampleFormControlSelect1::placeholder {
    font-size: 16px;
    font-family: "poppins";
    font-weight: 400;
    color: #9E9E9E !important;
}
/* .tab1form1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
} */
.card-button2 {
    margin-top: 30px;
    margin-left: 15px;
}
.btnn{
    color: #fff;
    background-color: #88B379;
    border-radius: 21px;
    padding: 9px 56px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
    line-height: 60px;
}
/* radio button */
.single-input .button {
    background-color: transparent;
    border: 1px solid;
    border-radius: 23px;
    padding: 8px 33px;
    font-size: 14px;
    font-family: "Poppins-Regular";
    cursor: pointer;
}

.single-input .button {
    border: 1px solid #9E9E9E !important;
    color: #9E9E9E;
    margin-left: 10px;
    margin-top: 10px !important;
}

.contact_container input:checked~span.button {
    border: 2px solid #88B379 !important;
    color: #88B379;
}
label.contact_container {
    display: table-cell;
}
.tab1form1 .form-group1 {
    margin-left: 162px;
}

.tab1form {
    margin: 8px 0px;
}
.buyer{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.buyer-btn1 button {
    color: #88B379;
    background-color: #fff;
    border-radius: 21px;
    padding: 9px 41px;
    border: 1px solid  #88B379;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
.buyer-btn2 button {
    color: #9E9E9E;
    background-color: #fff;
    border-radius: 21px;
    padding: 9px 41px;
    border: 1px solid  #9E9E9E;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
.tab-3info .form-control {
    display: block;
    width: 100% !important;
    margin: 0 24px;
    font-size: 10px !important;
    border-radius: 20px !important;
    border: 2px solid #000000 !important;
    color: #9E9E9E !important;
}
.abouttab3{
    display: flex;
    justify-content: space-between;
}
.abouttab4{
    display: flex;
    justify-content: space-between;
}
.loan .form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.refinance-mortgage-lenders-sec ::placeholder{
    font-size: 16px !important;
}
.abouttab4 .form-control {
    display: block;
    width: 100% !important;
    /* padding: 6px 70px !important; */
    padding-right:90px !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    margin: 0 24px;
    font-size: 10px !important;
    border-radius: 20px !important;
    border: 2px solid #000000 !important;
    color: #9E9E9E !important;
}

.foam-btn{
    color: #fff;
    background-color: #88B379;
    border-radius: 21px;
    padding: 9px 56px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
label {
    display: inline-block;
    margin-bottom: 0;
    font-family: "poppins";
    font-weight: 400;
    text-align: left;
    margin-left: 20px;
    font-size: 16px;
}
.form-group{
    text-align: left;
}
.form-control {
    display: block;
    font-size: 1rem;
    border-radius: 20px !important;
    border: 1px solid #000000 !important;
    color: #9E9E9E !important;
}
.nav-tabs {
    width: 100%;
    border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #88B379 !important;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-item a {
   color: #9B9B9B !important;
    padding: 10px 26px;

}
.nav-tabs .nav-item {
    padding-right: 20px;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 1.25rem !important;
    border-top-right-radius: 1.25rem !important;
}
.tab-1 button {
    color: #fff;
    background-color: #88B379;
    border-radius: 21px;
    padding: 9px 56px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
.refinance-mortgage-lenders-sec option{
    background-color: #EBF1EA;
    font-size: 16px;
}
.toolspageheading{
    margin-top: 30px;
}
.toolspageheading a{
    color: #88B379;
    text-decoration: underline;
    font-family: "poppins";
    font-weight: 500;
    font-size: 25px;
    display: block;
}
.tab-heading{
    padding: 30px 0;
    text-align: left;
}
.tab-heading h3{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 29px;
}
.about-mortagagetoolspage{
    margin-top: 50px;
    padding-bottom: 30px;

}
.about-refinancepage h5{
    color: #88B379;
    font-family: "poppins";
    font-weight: 400;
}
.about-refinancepage h2{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 29px;
    margin-bottom: 30px;
}
.about-refinancepage p{
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
}
.pointsrefinancepage p{
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}
.pointsrefinancepage h2{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 29px;
    margin-bottom: 39px;
}
.pointsrefinancepage{
    margin-top: 50px;
    margin-bottom: 30px;
}
.pointsrefinancepage li{
    list-style:circle ;
    color: #303030;
    display: flex;
    font-family: "poppins";
    font-weight: 400;
    line-height: 29px;
}
.pointsrefinancepage li::before {
    content: "";
    height: 8px;
    width: 8px;
    margin-top: 10px;
    background-image: url(../img/dot.png);
    background-size: cover;
    margin-right: 10px;
}
.refinance-faqs{
    margin: 30px 0;
}
.refinance-faqs h1{
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 35px;
}

/* refinance-mortgage-lenders end here */
@media (max-width:1200px){
    .navbar-items a {      
       font-size: 14px !important;
    }
    button.btn.btn-primary.nextBtn {
        margin-top: 20px;
        margin-left: 7px;
    }
    .stepwizard-row .stepwizard-step .btn1 {
        margin: 0px -11px; 
    }
    .card-header span {
        font-size: 15px;
    }
}
@media (max-width:1024px){
    .tab-1 .tab1form1 .form-group select#exampleFormControlSelect1 {
        background-position-x: 340px;
    }
}
@media screen  and (max-width: 576px){
    .nav-tabs .nav-item a {
        color: #9B9B9B !important;
        padding: 10px 0px;
        font-size: 10px;
    }
    .tabs {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .abouttab3 {
        display: block;
    }
    .about-tab1 {
        display: block;
        width: 100%;
        padding-top: 10px;
    }
    .tab1form {
        display: block;
        /* width: 108%; */
        padding: 10px 0;
        /* justify-content: center; */
    }
    
    .tab-3info {
        display:block;
    }
    .abouttab4 {
        display: block;
        padding: 20px 0;
    }
    .tab3{
    padding-top: 10px;
    }
    .form-control {
        padding: 6px 18px !important;
    }
    .tab-1 .tab1form1 .form-group select#exampleFormControlSelect1 {
        background-position-x: 310px;
    }
    .stepwizard-row .stepwizard-step .btn1 {
        margin: 0px -1px;
    }
    .about-refinancepage p {
        font-size: 14px;
    }
}
@media screen and (max-width: 480px){
    .Refinance-heading h1 {
        font-size: 27px;
    }
    .Refinance-heading h3 {
        font-size: 22px;
    }
    .stepwizard-row .stepwizard-step .btn1 {
        margin: 0px -31px;
    }
    
    .stepwizard-row .stepwizard-step .btn1 {
        /* color: #fff !important; */
        padding: 9px 3px;
        /* border: 1px solid #88B379; */
        font-size: 10px;
        font-family: "poppins";
        font-weight: 500;
        margin: 0px 17px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-decoration: none;
        width: 121.6px;
        margin: 0px -19px;
    }
    a.btn1.btn-circle.btn-default {
    color: #9B9B9B !important;
    }
    .Refinance-heading {
        padding-top: 30px;
        margin-bottom: 40px;
    }
    .about-refinancepage p {
        font-size: 12px;
    }
    .pointsrefinancepage p {
     font-size: 13px;
    }
    .tab-1 .tab1form1 .form-group select#exampleFormControlSelect1 {
        background-position-x: 410px;
    }
    .pointsrefinancepage li {
        font-size: 11px;
    }

}
@media screen and (max-width: 375px){
    .Refinance-heading h1 {
        font-size: 21px;
    }
    .Refinance-heading p {
        font-size: 11px;
        padding: 0px 0px;
    }
    .Refinance-heading h3 {
        margin-top: 20px;
    }
    .stepwizard-row .stepwizard-step .btn1 {
        padding: 9px 0px;
        font-size: 10px;
        width: 72.6px;
        margin: 0px -2px;
    }
    .tab-1 .tab1form1 .form-group select#exampleFormControlSelect1 {
        background-position-x: 330px;
    }
    .about-refinancepage h2 {
      font-size: 14px;   
    }
    .about-refinancepage p {
        font-size: 10px;
    }
    .pointsrefinancepage p {
        font-size: 10px;
    }
    .pointsrefinancepage li {
        font-size: 10px;
        
    }
    .pointsrefinancepage h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .refinance-faqs h1 {
        font-size: 17px;
    }
    .card-header span {
        font-size: 10px;
    }
}