@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* font family includes */
@font-face {
    src: url(../fonts/Poppins-Medium.ttf);
    font-family: 'Poppins-Medium';
}
@font-face {
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-family: 'Poppins-SemiBold';
}
@font-face {
    src: url(../fonts/Poppins-Bold.ttf);
    font-family: 'Poppins-Bold';
}
/*preloader*/
#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #88B379;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  select#exampleFormControlSelect1{
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position:right;
    -webkit-appearance: none;
    background-position-x: 371px;
}

.form-control:focus {
    /* color: #495057; */
    background-color: #fff;
    border-color: #88B379 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #88B379(0 123 255 / 25%) ;
}
select#exampleFormControlSelect1:focus {
    background-color: #fff;
    border-color: #88B379 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #88B379(0 123 255 / 25%) ;
}
element.style {
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn {
    color: #fff !important;
    background-color: #88B379 !important;
    border-radius: 21px;
    padding: 8px 56px;
    border: 1px solid #88B379;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}
.btn a {
    text-decoration: none;
    color: #ffffff;
    font-family: "poppins";
    font-weight: 500;
    font-size: 15px;
}
/* header start here */
.side {
    position: absolute;
    top: 0 !important;
    left: 255px !important;
    z-index: 1000;
    display: none;
}

.about-nav {
    margin-top: 22px;
}

.dropdown-menu {
    background-color: #EBF1EA;
}

.navbar-light .navbar-nav .nav-link {
    color: #303030;
}
.nav-link1 {
    position: relative;
    padding: 0.5rem 1rem;
    color: #303030;
    z-index: 999;
;
}

.dropdown-menu1 {
    display: none;
    position: absolute;
    width: 288px;
    transition: 0.6s all;
    top: 35px;
    background-color: #EBF1EA;

}

.dropdown-menu1 a {
    display: block;
}

.nav-item:hover .dropdown-menu1 {
    display: block;
}
.nav-container {
    display: flex;
    justify-content: space-evenly;
}

.nbar a {
    color: #88B379 !important;
}

a {
    font-size: 15px;
    font-family: "poppins";
    font-weight: 400;
}

.logo-img {
    margin-right: 118px;
}

.bg-light {
    background-color: transparent !important;
}


.mobile-header {
    display: none;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
    border-bottom: 4px solid #88B379;
}

.navlink:focus,
.navlink:hover {
    text-decoration: none;
    border-bottom: transparent !important;
}

.canvas-icon {
    display: none;
}
.dropdown-menu.show {
    display: block;
}


.mobile-header {
    width: 86%;
    height: 100%;
    display: block;
    position: fixed;
    overflow: scroll;
    background: #88B379;
    top: 0;
    z-index: 10;
    right: 0;
    padding-top: 30px;
    transition: 0.7s;
    transform: translateX(100%);
}

.showheader {
    transform: translateX(0%);
}


/* header end here */
/* header reponsive start here */
/* / responsive starts here / */
@media (max-width: 768px) {
    .canvas-icon {
        display: block;
    }
    .mobile-header ul.mobile-nav {
        margin-bottom: 0;
        padding: 0;
        list-style: none;
    }

    .mobile-header .cancel {
        background: #fff;
        width: 35px;
        text-align: center;
        height: 35px;
        line-height: 55px;
        margin: 0px 20px 20px auto;
    }

    .mobile-header ul.mobile-nav li.nav-item {
        padding: 10px 0;
        border: 0;
        border-bottom: 1px solid #606060;
    }

    .mobile-header ul.mobile-nav li.nav-item a {
        color: #000;
        font-size: 14px;
        padding: 0 20px;
    }

    .nav-link:focus,
    .nav-link:hover {
        text-decoration: none;
        border-bottom: transparent;
    }
}

/* #header .canvas-icon {
    display: none;
  } */
/* / header ends here / */
/* / responsive starts here / */
@media (max-width: 1100px) {
    .logo-img {
        margin-right: 0 ;
    }
}
@media (max-width: 1100px) {
    div#myTopnav {
        display: none;
    }

    #header .canvas-icon {
        display: block;
        text-align: end;
        margin-right: 29px;
    }

    .header-background .col-9 {
        padding: 0px;
    }

    .header-background {
        overflow: hidden;
    }

    .header-background .canvas-icon i {
        color: #000;
        font-size: 20px;
    }
}

.btn-secondary.dropdown-toggle {
    background: transparent !important;
    border: 0px;
    color: #000 !important;
}

@media (max-width: 480px) {
    header .mobile-header {
        width: 60%;
    }
}

/* header reponsive end here */
/* footer start here */
.about-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
}

.about-footer a {
    display: block;
    color: #f8f8f8c2;
    margin-top: 15px;
}

footer h5 {
    color: #88B379;
    font-size: 20px;
}

footer {
    background-color: #303030;
}

footer p {
    color: #F8F8F8;
    font-size: 16px;
    opacity: 0.8;
    margin-top: 20px;
}

footer .form-control {
    display: inline !important;
    width: 80% !important;
    border: transparent !important;
    padding-left: 20px !important;
    border-radius:25px !important;
    background-color: #ffffff !important;
}

footer .form-control::placeholder {
    color: #5B5B5B;
    opacity: 0.8;
    font-size: 14px;
}

footer button {
    width: 139px;
    background-color: #88B379;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    height: 48px;
    margin-left: -35px;
    border-radius: 23px;
    font-weight: 600;
    border: transparent;
    font-family: "Poppins";
}

footer .form-group {
    display: flex;
    margin-top: 28px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer h4 {
    color: #FFFFFF;
    margin-top: 38px;
    font-size: 20px;
}

.footer-container {
    padding-top: 40px;
}

.footer-heading {
    padding: 10px 0;
}

.social-footer {
    padding: 10px 0;
}

.footer-text {
    margin-top: 38px;
}
.footer-border {
    margin-left: 49px;
}
/* footer end here */
/* footer reponsive start here */
@media screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-border {
        text-align: center;
    }

    .about-footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }
    .footer h5 {
        color: #FFFFFF;
        margin-top: 0;
    }
    .footer-border {
        margin-left: 0;
    }
    .footer-logo{
        text-align: center;
    }
    .resources{
        text-align: center;
    }
    .contact-us{
        text-align: center;
    }
}

/* footer reponsive end here */
/* webheader-sec start here */
.webheader-sec {
    padding-bottom: 40px;
    padding-top: 71px;
}

.web-header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.web-header h2 {
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 32px;
}

.web-header h1 {
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 45px;
}

.web-header h3 {
    color: #88B379;
    font-family: "poppins";
    font-weight: 600;
}

.web-header button {
    color: #fff;
    background-color: #88B379;
    border-radius: 17px;
    padding: 9px 20px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}

.web-header .fa {
    color: #fff;
}

.web-header p {
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 15px;

}

.web-header-img {
    width: 100%;
    background-color: #E1F9D9;
    display: flex;
    justify-content: center;
    /* height: 48px; */
    border: 3px solid #88B379;
    padding: 20px 5px;
    border-radius: 101px;
}

.about-card {
    text-align: center;
    padding: 10px 0;
}

.about-card p {
    font-size: 14px;
    font-family: "poppins";
    font-weight: 600;
    color: #303030;
}

.about-card h5 {
    font-size: 13px;
    font-family: "poppins";
    font-weight: 600;
    color: #303030;
}

.about-card h6 {
    font-size: 14px;
    font-family: "poppins";
    font-weight: 600;
    color: #303030;
}

.top-card {
    justify-content: space-between;
}
.about-web-header{
    margin-left: 20px;
}
.header-card{
    padding: 0 20px;
}
.slick-prev, .slick-next{
    display: none !important;
  }
  
  .slick-dots{
    bottom: 15px !important;
    right: 0px;
  }
  .slick-dots li.slick-active button:before{
    color: #88B379;
  }

  
  .slick-dots li button:before{
    opacity: 1 !important;
    color: #c5c5c5;
  }
  
  .slick-dots li.slick-active button:before{
    border: 0px !important;
    font-size: 18px !important;
  }
@media screen and (max-width: 768px) {
    .web-header h1 {
        font-size: 27px;
    }

    .web-header h3 {
        font-size: 20px;
    }
}

/* webheader-sec end here */
/* vission-sec start here */
.vission-sec {
    padding-bottom: 30px;
}

.vission-imgbox {
    width: 100%;

}

.vission {
    margin-left: 40px;
}

.vission-heading {
    padding-top: 45px;
}

.vission-heading h5 {
    color: #88B379;
    font-family: "poppins";
    font-weight: 400;
}

.vission-heading h3 {
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 32px;
}

.vission-text {
    margin-top: 20px;
}

.vission-text p {
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    margin-bottom: 0;
    font-size: 13px;
}

.vission-sec button {
    color: #fff;
    background-color: #88B379;
    border-radius: 20px;
    padding: 9px 27px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
    margin: 20px 0;
}

/* vission-sec end here */

/* money-sec start here */

.money-sec {
    padding-bottom: 60px;
}

.money-banner {
    background-color: #88B379;
    padding-top: 25px;
    padding-bottom: 61px;
}

.money-heading h2 {
    color: #FFFFFF;
    font-family: "poppins";
    font-weight: 500;
}

.money-heading p {
    color: #FFFFFF;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
}

.money-heading button {
    background-color: #fff;
    color: #88B379;
    border-radius: 17px;
    padding: 9px 20px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}

.money-imgbox {
    width: 100%;
    position: absolute;
    top: -114px;
}

@media screen and (max-width: 768px) {
    .money-imgbox {
        width: 100%;
        position: unset !important;
        top: 0;
    }

    .about-info button {
        margin: 20px 0;
    }

    .vission-heading h3 {
        font-size: 25px;
    }
}

/* money-sec end here */
/* info-sec start here */
.info-sec {
    padding-bottom: 30px;
}

.info-heading {
    padding: 10px 0;
}

.info-heading h5 {
    color: #88B379;
    font-family: "poppins";
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 2px;
}

.info-heading h3 {
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 30px;
}

.about-info p {
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0;
}

.about-info button {
    color: #fff;
    background-color: #88B379;
    border-radius: 20px;
    padding: 9px 27px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
    margin-top: 53px;
}

/* info-sec end here */
/* articles-sec start here */
.articles-sec {
    padding-bottom: 20px;
}

.articlecards-img {
    display: flex;
    flex-direction: column;
}

.article-card {
    display: flex;
    flex-direction: row;
}

.article-card1 {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #70707042;
    margin-bottom: 10px;
}

.aboutimg-card {
    padding: 10px 0;
}

.aboutimg-card span {
    font-size: 12px;
    font-family: "poppins";
    font-weight: 400;
    color: #303030;
    opacity: 0.4;

}

.article-text {
    padding: 30px 0;
}

.article-text span {
    font-size: 12px;
    font-family: "poppins";
    font-weight: 400;
    color: #303030;
    opacity: 0.4;
}

.articles-sec h6 {
    font-size: 13px;
    font-family: "poppins";
    font-weight: 600;
    color: #303030;
}

.articles-sec p {
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0;
}

.article-heading {
    padding: 20px 0;
}

.article-heading h5 {
    color: #88B379;
    font-family: "poppins";
    font-weight: 500;
    font-size: 29px;
    margin-bottom: 12px;
}

.article-heading h3 {
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 30px;
}

.articles-btn {
    padding: 50px 0;
    margin-left: 50px;
    text-align: right;
}

.articles-btn a {
    color: #88B379;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;

}

.articles-sec .fa {
    color: #88B379;
}

/* .line {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
} */

.article p {
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
}

.article-container {
    border-right: 2px solid #70707042;
    padding-right: 15px;
}

@media screen and (max-width: 768px) {
    .articles-btn {
        padding-top: 42px;
        margin-left: 0;
    }

    .article-heading h5 {
        font-size: 21px;
    }

    .article-heading h3 {
        font-size: 22px;
    }
    .article-container {
        border-right: transparent;
        padding-right: 15px;
    }
}

/* articles-sec end here */
/* frequently-sec start here */
.frequently-sec {
    padding-bottom: 20px;
}

.frequently-heading {
    padding-top: 20px;
    padding-bottom: 40px;
}

.frequently-heading h3 {
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 38px;
}

.frequently-heading h5 {
    font-size: 14px;
    font-family: "poppins";
    font-weight: 400;
    color: #303030;
}

.side-btn {
    /* width: 139px; */
    padding-top: 35px;
    padding-bottom: 45px;
    text-align: right;
}

.side-btn a {
    color: #88B379;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;

}

.side-btn .fa {
    color: #88B379;
}

.form-heading h6 {
    font-size: 15px;
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 0;

}

.form-heading h4 {
    font-size: 25px;
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.form-heading p {
    font-size: 16px;
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin-top: 30px;
}

.form-heading {
    margin-bottom: 40px;
}

.contact-form-wrapper .form-group .form-text input {
    border-radius: 0px;
    font-family: 'Work Sans';
    margin: 10px 0px;
}

.contact-form-wrapper textarea.form-control {
    border-radius: 0px;
    font-family: 'Work Sans';
    resize: none;
}

.contact-form-wrapper {
    margin-right: 120px;
}

.form-group {
    margin-bottom: 1rem;
}

.contact-form-wrapper button.form-btn {
    background: var(--first-color);
    border-radius: 0px;
    color: #fff;
    font-family: 'Work Sans';
    font-size: 17px;
    border: 1px solid #fff;
    transition: all 0.4s ease-in-out;
}


div#accordion .card-header {
    background: transparent;
    border: none;
    padding: 21px 0px;
}

div#accordion .card {
    /* border-top: 1px solid #777575 !important; */
    border-radius: 0px;
    border-bottom: 1px solid #000000 !important;
    border: none;
    border-color: #A0A0A0 !important;

}

div#accordion a.card-link {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.card-header span {
    font-size: 17px;
    color: #000000;
    font-family: "Aileron";
    font-weight: 400;
}

.faq-wrapper .card-body {
    padding: 20px;
    font-size: 14px;
    color: #afafaf;
}

.faq .card .card-body {
    color: #000000;
    padding-right: 11%;
    padding: 20px !important;
}

a.card-link[aria-expanded="true"] .fa-plus::before {
    content: "\f068";
}

div#accordion a.card-link:active,
div#accordion a.card-link:focus {
    text-decoration: none;
}

/* frequently-sec end here */