@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* font family includes */
@font-face {
    src: url(../fonts/Poppins-Medium.ttf);
    font-family: 'Poppins-Medium';
}

@font-face {
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-family: 'Poppins-SemiBold';
}

@font-face {
    src: url(../fonts/Poppins-Bold.ttf);
    font-family: 'Poppins-Bold';
}

@font-face {
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: "Poppins-Regular";
}

@font-face {
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: "Poppins-Regular";
}

@font-face {
    src: url(../fonts/Aileron-Bold.otf);
    font-family: "Aileron-Bold";
}

@font-face {
    src: url(../fonts/Aileron-SemiBold.otf);
    font-family: "Aileron-SemiBold";
}

@font-face {
    src: url(../fonts/Aileron-Regular.otf);
    font-family: "Aileron-Regular";
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*preloader*/
#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #88B379;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* calculator */
@keyframes controll {
    0% {
        transform: translatex(-6%);
    }

    100% {
        transform: translatex(0%);
    }
}



/* forms */

select#exampleFormControlSelect1 {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    -webkit-appearance: none;
    background-position-x: 387px;
}

.form-control:focus {
    background-color: #fff;
    border-color: #88B379 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #88B379(0 123 255 / 25%);
}

select#exampleFormControlSelect1:focus {
    background-color: #fff;
    border-color: #88B379 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #88B379(0 123 255 / 25%);
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn {
    border: 0px;
    background-color: #88B379;
    font-family: poppins-medium;
    color: #FFFFFF;
    font-size: 16px;
    padding: 9px 59px;
    cursor: pointer;
    width: unset !important;
    border: 1px solid transparent;
    transition: 0.2s all;
    margin-top: 40px;
    border-radius: 30px;
}

.btn a {
    text-decoration: none;
    color: #ffffff;
    font-family: "poppins";
    font-weight: 500;
    font-size: 15px;
}

.btn:hover {
    border: 2px solid #88B379;
    background-color:  #88B379;
    color:  #ffffff;
}

.Mortgage-wrapper-content {
    border-bottom: 0px;
}

/* Mobile Header */
.custom-container {
    margin-left: auto;
    margin-right: auto;
    width: 93%;
}

@media (min-width: 1260px) {
    .custom-container {
        max-width: 1140px;
    }
}

.mobile-header {
    width: 50%;
    height: 100%;
    position: fixed;
    background: #ffffffc2;
    top: 0;
    z-index: 9;
    right: 2px;
    padding: 40px;
    transition: 0.7s;
    transform: translateX(100%) !important;
    box-shadow: 0px 0px 7px #ddd;
}

button.btn-mobile {
    border: none;
    color: #88B379;
}

button.btn-mobile a {
    color: #88B379;
}

li.nav-link a {
    color: #000;
    text-decoration: none;
}

#header .mobile-header ul.mobile-nav {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

#header .mobile-header .cancel {
    background: #000000;
    width: 35px;
    text-align: center;
    height: 34px;
    line-height: 35px;
    color: #fff;
    padding: 4px 0px;
}

#header .mobile-header ul.mobile-nav li.nav-item {
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid #dddddd4a;
}

#header .mobile-header ul.mobile-nav li.nav-item a {
    color: #000000;
    font-size: 14px;
    padding: 0 20px;
}

#header .canvas-icon i {
    font-size: 24px;
    /* background: #000000; */
    padding: 5px 7px;
    color: #000000;
    position: absolute;
    display: none;
    text-align: right;
    top: 33px;
    right: 35px;
    cursor: pointer;
}

.responsive-contact-btn a {
    display: unset;
    padding: 9px 33px !important;
}

#header .mobile-header.showheader {
    transform: translateX(0%) !important;
}

.card-header-mobile {
    margin: 20px -5px;
}

button.btn-mobile a i.fa.fa-angle-down {
    margin: 5px 10px;
    position: absolute;
}

.accordion1 .card1 .card-body1 a.dropdown-item {
    color: #000000 !important;
    font-weight: 400;
    font-family: "Poppins";
    padding: 5px 24px 5px 17px;
    font-size: 14px;
}

li.nav-item-card i.fa.fa-search.yellowish-color {
    margin: 30px 40px;
    position: absolute;
    top: 67px;
    right: 5px;
}

@media (max-width: 991px) {
    #header .nav {
        display: none;
    }

    .responsive-contact-btn {
        display: initial;
    }

    .navbar-items {
        display: none !important;
    }

    .all-normal-navs {
        justify-content: space-between !important;
    }

    #header .second-col-input {
        display: none;
    }

    #header button.navbar-toggler {
        display: none;
    }

    #header .canvas-icon i {
        display: block;
    }
}

@media (max-width: 575px) {
    #header .mobile-header {
        width: 35%;
    }
}

@media (max-width: 480px) {
    #header .mobile-header {
        width: 55%;
    }
}

/* Mobile Header */
.all-nav {
    margin-top: 20px;
}

.for-logo {
    margin-left: 13px;
}

/* .accordiondx {
    display: none;
} */
.all-normal-navs {
    display: flex;
    height: 70px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0;
}

.navbar-items {
    display: flex;
    margin-top: auto;
    margin-left: 35px ! important;
}

.normal-nav-items {
    color: #303030;
    font-family: "poppins-medium";
    font-size: 16px;
    padding: 8px 6px;
    list-style-type: none;
    margin-right: 11px;
}

.normal-nav-items a.active {
    border-bottom: 3px solid #88B379;
    padding-bottom: 4px;
}

option {
    background: #EBEFEA;
    color: #000000 !important ;
}

.yellowish-color {
    color: #88B379 !important;
}

li {
    list-style-type: none;
}

.bar-icon {
    display: none;
}

li.normal-nav-items a i {
    padding-left: 8px;
}

.navbar-items a {
    text-decoration: none;
    color: #303030;
    font-family: "poppins-medium";
    font-size: 15px;
    font-weight: 400;
}

/* search bar */
a {
    text-decoration: none;
}
.page-heading {
    text-align: center;
    padding: 212px 0;
}

.search-box {
    position: absolute;
    /* top: 120%; */
    /* left: 50%; */
    transform: translateY(-50%);
    /* background-color: #2f3640; */
    height: 40px;
    border-radius: 40px;
    /* padding: 10px; */
    /* transition: 0.12s; */
    transition: 0.7s;
}
/* .search-box:hover {
    padding: 10px;
    width: 277px;
    top: 98px;
    background-color: #88B379;
    left: 34%;
} */
.search-box:hover {
    padding: 10px;
    width: 204px;
    background-color: #88B379;
}

.search-box:hover>.search-txt {
    width: 240px;
    padding: 0 6px;
    display: unset;
    transform: translateY(-2px);
}

.search-box:hover>.search-btn {
    background-color: #fff;
    transform: translate(10.3px, -34px);
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background-color: #2f3640; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    /* float: left; */
    /* padding: 0; */
    display: none;
    color: white;
    font-size: 16px;
    transition: .4s;
    /* line-height: 40px; */
    width: 0;
}

.bar-icon i {
    cursor: pointer;
}

.dropdown-menu {
    background: #EBF1EA;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
}

.all-nav .all-normal-navs .dropdown-menu {
    top: unset !important;
}

.dropdown-menu111 {
    position: absolute;
    right: -80% !important;
    background: #E1F9D9;
    top: 0px;
    display: none;
}

a.dropdown-item {
    color: #000000 !important;
    font-weight: 400;
    font-family: "Poppins";
    padding: 5px 24px 5px 17px;
    font-size: 14px;
}

.dropdown-item.dropdown a:hover .dropdown-menu111 {
    display: block !important;
}

/* footer start here */
.about-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
}

.about-footer ul {
    margin: 0px -37px;
}

.about-footer ul li a {
    display: block;
    color: #BCBCBC;
    margin-top: 15px;
    font-family: 'Poppins';
    font-weight: 400;
}

.contact-us ul {
    margin: 0px -37px;
}

.contact-us ul li a {
    display: block;
    color: #BCBCBC;
    margin-top: 15px;
    font-family: 'Poppins';
}

footer h5 {
    color: #88B379;
    font-size: 20px;
    font-family: 'Poppins';
}

.social-footer h5 {
    letter-spacing: 8px;
}

footer {
    background-color: #303030;
    padding-bottom: 30px;
}

footer p {
    color: #BCBCBC;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 400;
    font-family: 'Poppins';
}

input#exampleInputEmail1 {
    width: 96% !important;
    border: transparent !important;
    padding-left: 20px !important;
    border-radius: 25px !important;
    background-color: #EBF1EA !important;
    /* padding: 6px 90px; */
    position: relative;
    height: 50px;
}

.news .footer footer .form-control::placeholder {
    color: #5B5B5B;
    opacity: 0.8;
    font-size: 14px;
}

.form-group button {
    width: 139px;
    background-color: #88B379;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    height: 48px;
    /* margin-left: -151px; */
    border-radius: 23px;
    font-weight: 600;
    border: transparent;
    font-family: "Poppins";
    position: absolute;
    margin-top: 1px;
    top: 28px;
    right: 36px;
}

input#exampleInputEmail1::placeholder {
    color: #A9AEA9;
    font-family: "poppins";
    font-weight: 400;
    font-size: 15px;
    padding-left: 10px;
}

footer button span {
    margin-left: 10px;
}

footer .form-group {
    display: flex;
    margin-top: 28px;
    margin-left: -41px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-text p {
    margin-top: -29px;
    margin-bottom: 57px;
}

.footer h4 {
    color: #FFFFFF;
    margin-top: 38px;
    font-size: 20px;
    margin-left: -15px;
    font-family: 'Poppins';
}

.footer-container {
    padding-top: 40px;
}

.footer-heading {
    padding: 10px 0;
}

.social-footer {
    padding: 0px 0px 25px 0px;
    width: 80%;
}

.footer-text {
    margin-top: 38px;
    margin-left: -30px;
}

.footer-border {
    margin-left: 49px;
}

.social-footer ul {
    padding: 0px;
    list-style: none;
}

.social-footer ul li {
    display: inline-block;
    width: 25%;
}

.social-footer ul li a {
    background: #88b379;
    width: 28px;
    height: 28px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 51%;
    margin: 10px 0px;
}

.social-footer ul li i {
    color: #303030;
    font-weight: 200 !important;
}

/* footer end here */

/* webheader-sec start here */
.webheader-sec {
    padding-bottom: 70px;
    padding-top: 71px;
}

.web-header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.web-header h2 {
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 35px;
}

.web-header h1 {
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    font-size: 50px;
}

.web-header h3 {
    color: #88B379;
    font-family: "poppins";
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 32px;
}

.web-header button {
    color: #fff;
    background-color: #88B379;
    border-radius: 52px;
    padding: 9px 20px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
    margin-top: 20px;
}

.web-header button:hover {
    background-color: #E1F9D9;
    color: #88B379;
}

.web-header button i.fas.fa-long-arrow-alt-right {
    margin: 7px 10px;
}

i.fa.fa-long-arrow-right {
    margin-left: 10px;
    font-family: "FontAwesome";
}

.web-header .fa {
    color: #fff;
}

.web-header p {
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 14px;

}

.web-header-img {
    width: 55%;
    background-color: #E1F9D9;
    margin-left: auto;
    display: flex;
    justify-content: center;
    height: 100px;
    border: 2px solid #88B379;
    padding: 27px 21px;
    border-radius: 101px;
    margin-right: auto;
}

.about-card {
    text-align: center;
    padding: 10px 0;
}

.about-card p {
    font-size: 14px;
    font-family: "poppins";
    font-weight: 600;
    color: #303030;
}

.about-card h5 {
    font-size: 22px;
    font-family: "poppins";
    font-weight: 600;
    color: #303030;
}

.about-card h6 {
    font-size: 20px;
    font-family: "poppins";
    font-weight: 600;
    color: #303030;
}

.top-card {
    justify-content: space-between;
}

/* .about-web-header {
    margin-left: 87px;
    margin-top: 10px;
} */

.header-card {
    padding: 0 20px;
}

/* .header-card {
    width: 556px !important;
} */

.about-web-header .slick-list.draggable {
    height: 455.547px !important;

}

.slick-prev,
.slick-next {
    display: none !important;
}

.about-web-header .slick-dots {
    bottom: 25px !important;
    right: -8px
}

.slick-dots li.slick-active button:before {
    color: #88B379;
}


.slick-dots li button:before {
    opacity: 1 !important;
    color: #c5c5c5;
}

.slick-dots li.slick-active button:before {
    border: 0px !important;
    font-size: 18px !important;
}


/* webheader-sec end here */
/* vission-sec start here */
.vission-sec {
    padding-bottom: 60px;
}

.vission-imgbox {
    width: 100%;

}

.vission {
    margin-left: 40px;
}

.vission-heading {
    padding-top: 45px;
}

.vission-heading h5 {
    color: #88B379;
    font-family: "poppins";
    font-weight: 400;
    font-size: 22px;
}

.about-info button i.fas.fa-long-arrow-alt-right {
    margin: 7px 10px;
}

.vission-sec button i.fas.fa-long-arrow-alt-right {
    margin: 7px 10px;
}

.money-heading button i.fas.fa-long-arrow-alt-right {
    margin: 7px 10px;
}

.money-heading button:hover {
    background-color: #E1F9D9;
    color: #88B379;
}

.about-info button:hover {
    background-color: #E1F9D9;
    color: #88B379;
}

.vission-heading h3 {
    color: #303030;
    font-family: "poppins";
    font-weight: 600;
    font-size: 32px;
}

.vission-text {
    margin-top: 20px;
}

.vission-text p {
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    margin-bottom: 0;
    font-size: 13px;
}

.vission-sec button {
    color: #fff;
    background-color: #88B379;
    border-radius: 31px;
    padding: 9px 27px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
    margin: 20px 0;
}

.vission-sec button:hover {
    background-color: #E1F9D9;
    color: #88B379;
}

/* vission-sec end here */

/* money-sec start here */

.money-sec {
    padding-bottom: 60px;
}

.money-banner {
    background-color: #88B379;
    padding-top: 15px;
    padding-bottom: 51px;
}

.money-heading {
    margin-left: 20px;
    margin-top: 20px;
}

.money-heading h2 {
    color: #FFFFFF;
    font-family: "poppins";
    font-weight: 500;
    font-size: 34px;
}

.money-heading p {
    color: #FFFFFF;
    font-family: "poppins";
    font-weight: 400;
    font-size: 14px;
}

.money-heading button {
    background-color: #fff;
    color: #88B379;
    border-radius: 30px;
    padding: 9px 27px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
}

.money-imgbox {
    width: 100%;
    position: absolute;
    top: -114px;
    animation: controll 2s infinite alternate ease-in-out;
}

@media screen and (max-width: 768px) {
    .money-imgbox {
        width: 100%;
        position: unset !important;
        top: 0;
    }

    .about-info button {
        margin: 20px 0;
    }

    .vission-heading h3 {
        font-size: 25px;
    }
}

/* money-sec end here */
/* info-sec start here */
.info-sec {
    padding-bottom: 60px;
}

.info-heading h5 {
    color: #88B379;
    font-family: "poppins";
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 2px;
    margin-bottom: 12px;
}

.info-heading1 h5 {
    color: #88B379;
    font-family: "poppins";
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 2px;
    margin-bottom: 12px;
    margin-top: 18px;
}

.info-heading2 h5 {
    color: #88B379;
    font-family: "poppins";
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 2px;
    margin-bottom: 12px;
    margin-top: 20px;
}

.info-heading h3 {
    color: #303030;
    font-family: "poppins";
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 36px;
    margin-bottom: 10px;
}

.about-info p {
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0;
}

.about-info button {
    color: #fff;
    background-color: #88B379;
    border-radius: 31px;
    padding: 9px 27px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 500;
    margin-top: 24px;
}

.articles-btn a i.fa.fa-arrow-right {
    margin: 0px 10px;
}

/* info-sec end here */
/* articles-sec start here */
.articles-sec {
    padding-bottom: 50px;
}

.articlecards-img {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #70707042;
    padding-left: 20px;
}

.article-card {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.article-card1 {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #70707042;
    margin-bottom: 10px;
}

.aboutimg-card {
    padding: 10px 0;
}

.aboutimg-card span {
    font-size: 12px;
    font-family: "poppins";
    font-weight: 400;
    color: #303030;
    opacity: 0.4;
    line-height: 30px;
    margin: 90px 0px;
}

.article-text {
    padding: 30px 0;
}

.article-text span {
    font-size: 12px;
    font-family: "poppins";
    font-weight: 400;
    color: #A1A1A1;
    opacity: 0.4;
}

.articles-sec h6 {
    font-size: 15px;
    font-family: "poppins-semibold";
    color: #303030;
}

.articles-sec p {
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.article-heading {
    padding: 40px 0;
}

.article-heading h5 {
    color: #88B379;
    font-family: "poppins";
    font-weight: 400;
    font-size: 29px;
    margin-bottom: 12px;
}

.article-heading h3 {
    color: #303030;
    font-family: "poppins";
    font-weight: 600;
    margin-bottom: 3px;
    font-size: 34px;
}

.articles-btn {
    text-align: right;
    margin-top: 40px;
    padding: 53px 16px;
}

.articles-btn img {
    margin-left: 10px;
}

.articles-btn a {
    color: #88B379;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
}

.articles-btn a i.fas.fa-long-arrow-alt-right {
    margin-left: 10px;
}

.articles-sec .fa {
    color: #88B379;
}

/* .line {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
} */
.article p {
    color: #303030;
    font-family: "poppins";
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}

/* .article-container {
    border-right: 2px solid #70707042;
    padding-right: 15px;
} */

@media screen and (max-width: 768px) {
    .articles-btn {
        padding-top: 42px;
        margin-left: 0;
    }

    .article-heading h5 {
        font-size: 21px;
    }

    .article-heading h3 {
        font-size: 22px;
    }

    .article-container {
        border-right: transparent;
        padding-right: 15px;
    }
}

/* articles-sec end here */
/* frequently-sec start here */
.frequently-sec {
    padding: 0px 0px 65px 0px;
}

.frequently-heading {
    padding-top: 1px;
    padding-bottom: 50px;
}

.frequently-heading h3 {
    color: #303030;
    font-family: "poppins";
    font-weight: 600;
    margin-bottom: 3px;
    font-size: 37px;
    margin-bottom: 20px;
}

.frequently-heading h5 {
    font-size: 15px;
    font-family: "poppins";
    font-weight: 400;
    color: #303030;
}

.side-btn {
    padding-top: 5px;
    padding-bottom: 95px;
    text-align: right;
}

.side-btn a {
    color: #88B379;
    font-family: "poppins";
    font-weight: 500;
    font-size: 16px;
}

.side-btn a i.fas.fa-long-arrow-alt-right {
    margin: 0px 10px;
}

.side-btn .fa {
    color: #88B379;
}

.form-heading h6 {
    font-size: 15px;
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 0;

}

.form-heading h4 {
    font-size: 25px;
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.form-heading p {
    font-size: 16px;
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin-top: 30px;
}

.form-heading {
    margin-bottom: 40px;
}

.contact-form-wrapper .form-group .form-text input {
    border-radius: 0px;
    font-family: 'Work Sans';
    margin: 10px 0px;
}

i.fa.fa-plus {
    font-size: 18px !important;
    font-weight: 400px !important;
}

.contact-form-wrapper textarea.form-control {
    border-radius: 0px;
    font-family: 'Work Sans';
    resize: none;
}

.contact-form-wrapper {
    margin-right: 120px;
}

.form-group {
    margin-bottom: 1rem;
}

.contact-form-wrapper button.form-btn {
    background: var(--first-color);
    border-radius: 0px;
    color: #fff;
    font-family: 'Work Sans';
    font-size: 17px;
    border: 1px solid #fff;
    transition: all 0.4s ease-in-out;
}


div#accordion .card-header {
    background: transparent;
    border: none;
    padding: 21px 0px;
}

.accordions {
    overflow: scroll;
    height: 349px;
}

.accordions::-webkit-scrollbar {
    display: none;
}

div#accordion .card {
    /* border-top: 1px solid #777575 !important; */
    border-radius: 0px;
    border-bottom: 1px solid #000000 !important;
    border: none;
    border-color: #A0A0A0 !important;

}

div#accordion a.card-link {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}


.card-header span {
    font-size: 17px;
    color: #000000;
    font-family: "Aileron-regular";
    font-weight: 400;
}

.faq-wrapper .card-body {
    padding: 20px;
    font-size: 14px;
    color: #afafaf;
}

.faq .card .card-body {
    color: #000000;
    padding-right: 11%;
    padding: 20px !important;
}

a.card-link[aria-expanded="true"] .fa-plus::before {
    content: "\f068";
    font-size: 18px;
    font-weight: 700;
}

div#accordion a.card-link:active,
div#accordion a.card-link:focus {
    text-decoration: none;
}

@media screen and (max-width:1100px) {
    .web-header h2 {
        font-size: 25px;
    }

    .web-header h1 {
        font-size: 35px;
    }

    .web-header h3 {
        font-size: 25px;
    }

    .web-header p {
        font-size: 12px;
    }

    /* .header-card {
        width: 443px !important;
    } */
    .about-card h5 {
        font-size: 14px;
    }

    .about-card h6 {
        font-size: 14px;
    }

    .web-header-img {
        width: 65%;
        height: 90px;

    }

    .vission-heading h3 {

        font-size: 22px !important;
    }

    .vission-text p {
        font-size: 11px;
    }

    .info-heading h3 {
        font-size: 24px;
    }

    .about-info p {
        font-size: 11px !important;
    }

    .article p {
        font-size: 14px;
    }

    .article p {
        font-size: 20px;
    }

    .card-header span {
        font-size: 16px;
    }

    .frequently-heading {
        padding-top: 1px;
        padding-bottom: 4px;
    }

    .article-card .img-card3 .card-imgbox img {
        height: 164px !important;
        width: 180px;
    }

    .article-card1 .img-card1 .card-imgbox img {
        height: 164px !important;
        width: 180px;
    }

    .articles-sec p {
        font-size: 15px;
    }

    .footer h4 {
        color: #FFFFFF;
        margin-top: 38px;
        font-size: 19px;
        margin-left: -13px;
    }

    footer p {
        font-size: 14px;
    }

    .about-web-header .slick-dots {
        bottom: 65px !important;
        right: -3px;
    }

    .webheader-sec {
        padding-bottom: 0px;
        padding-top: 71px;
    }

    .money-banner {
        background-color: #88B379;
        padding-top: 25px;
        padding-bottom: 23px;
    }

    .info-heading {
        padding: 10px 0;
    }

    .form-group button {
        right: 33px;
    }
}

@media screen and (max-width: 1024px) {
    .web-header h2 {
        font-size: 25px;
    }

    .web-header h1 {
        font-size: 35px;
    }

    .web-header h3 {
        font-size: 25px;
    }

    .web-header p {
        font-size: 12px;
    }

    /* .header-card {
        width: 443px !important;
    } */
    .about-card h5 {
        font-size: 14px;
    }

    .about-card h6 {
        font-size: 14px;
    }

    .web-header-img {
        width: 65%;
        height: 90px;

    }

    .vission-heading h3 {

        font-size: 22px !important;
    }

    .vission-text p {
        font-size: 11px;
    }

    .info-heading h3 {
        font-size: 24px;
    }

    .about-info p {
        font-size: 11px !important;
    }

    .article p {
        font-size: 14px;
    }

    .article p {
        font-size: 20px;
    }

    .card-header span {
        font-size: 16px;
    }

    .frequently-heading {
        padding-top: 1px;
        padding-bottom: 4px;
    }

    .article-card .img-card3 .card-imgbox img {
        height: 164px !important;
        width: 180px;
    }

    .article-card1 .img-card1 .card-imgbox img {
        height: 164px !important;
        width: 180px;
    }

    .articles-sec p {
        font-size: 15px;
    }

    .footer h4 {
        color: #FFFFFF;
        margin-top: 38px;
        font-size: 19px;
        margin-left: -13px;
    }

    footer p {
        font-size: 14px;
    }

    .normal-nav-items {
        padding: 0 !important;
    }

    .navbar-items {

        margin-left: 0 ! important;
    }
}

@media screen and (max-width:800px) {

    /* .img-fluid {
        max-width: 100% !important;
        height: auto;
    } */
    .money-imgbox {
        top: -84px;
    }

    .money-heading h2 {
        font-size: 20px;
    }

    .money-heading p {

        font-size: 12px;
    }

    .slick-list.draggable {
        height: 455.547px !important;
        width: 440px;
    }

    .slick-dots {
        bottom: 45px !important;
        right: 77px;
    }

    .vission-heading h3 {
        font-size: 17px !important;
    }

    .articles-sec p {
        font-size: 10px;
    }

    .article-card1 .img-card1 .card-imgbox img {
        width: 100%;
        height: 113px !important;
    }

    .article-card .img-card3 .card-imgbox img {
        width: 100%;
        height: 113px !important;
    }

    .article-heading h3 {
        font-size: 18px;
    }

    .frequently-heading h3 {

        font-size: 19px;
    }

    .frequently-heading h5 {
        font-size: 12px;
    }

    .card-header span {
        font-size: 11px;
    }

    .accordions {
        overflow: scroll;
        height: 260px;
    }

    footer p {
        font-size: 10px;
    }

    .about-footer ul li a {
        font-size: 13px;
    }

    footer h5 {
        color: #88B379;
        font-size: 16px;
    }

    .social-footer h5 {
        letter-spacing: -2px;
    }

    .contact-us ul li a {
        font-size: 13px;
    }

    .footer-text {

        width: 210px;
    }

    .footer h4 {
        font-size: 12px;
    }

    .about-web-header .slick-dots {
        bottom: 65px !important;
        right: 72px;
    }

    .vission-heading {
        padding-top: -15px;
    }

    .vission-text p {
        font-size: 9px;
    }

    .money-banner {
        padding-bottom: 69px;
    }

    .info-heading h3 {
        font-size: 17px;
    }

    .form-group button {
        right: 31px;
    }

    .footer-text {
        margin-top: 43px;
        margin-left: -30px;
    }

    .footer h4 {
        margin-top: 47px;
    }
    .footer-border {
        margin-left: 0;
    }
}

@media screen and (max-width:900px) {
    .about-card h6 {
        font-size: 13px;
    }

    .web-header-img {
        background-color: #E1F9D9;
        margin-left: 155px;
        display: flex;
        justify-content: center;
        height: 100px;
        border: 2px solid #88B379;
        padding: 27px 31px;
        border-radius: 101px;
        margin-right: auto;
    }

    .about-card {
        text-align: center;
        padding: 10px 0;
        margin-right: 47px;
    }

    .article-card1 .img-card1 .card-imgbox img {
        width: 100%;
        height: auto !important;
    }
}

@media screen and (max-width: 768px) {
    .for-logo {
        margin-left: 10px;
    }

    .web-header h1 {
        font-size: 27px;
    }

    .web-header h3 {
        font-size: 20px;
    }

    .vission-heading {
        padding-top: 5px;
    }

    .money-heading {
        margin-left: -13px;
        margin-top: 20px;
    }

    .about-info button {

        margin-top: 24px;
    }

    .form-group button {
        right: 45px;
    }

    .form-group button {
        right: 31px;
    }

    .money-banner {
        padding-bottom: 0px;
        height: 250px;
    }

    .money-imgbox {
        top: -84px;
        margin: -100px -10px;
    }

    .articles-btn {
        padding-top: 8px;
        margin-left: 0;
    }

    .side-btn {
        padding-bottom: 75px;

    }

    .frequently-heading h3 {
        margin-top: 10px;
    }

    footer h5 {
        font-size: 13px;
    }

    .about-footer ul li a {
        font-size: 10px;
    }

    .contact-us ul li a {
        font-size: 10px;
        line-height: 8px;
    }

    .social-footer h5 {
        letter-spacing: 1px;
    }

    .footer h4 {
        font-size: 11px;

    }

    footer p {
        font-size: 12px;
    }
    .vission-text p {
        font-size: 18px;
    }

}
@media screen and (max-width: 662px) {
    .about-footer {
        width: 100%;
        margin: 0;
    }
    .resources {
        width: 100%;
        text-align: center;
    }
    .about-footer .resources ul {
        margin: 0px !important;
        padding: 0px !important;
    }

    .footer-heading {
        margin: 0px;
    }

    .contact-us ul {
        margin: 0px !important;
        padding: 0px !important;
    }
    .contact-us {
        text-align: center;
    }
    .social-footer ul li {
        display: inline-block;
        width: 10%;
    }
    .social-footer {
        width: 100%;
    }
    .footer-border {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .footer-text p {
        margin: 0;
    }
    .footer-text {
        /* margin: 0; */
        width: 100%;
        text-align: center;
    }
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .form-group button {
        width: 142px;
        top: 26px;
        height: 51px;
    }
    .article-card1 .img-card1 .card-imgbox img {
        width: 100%;
        height: 200px !important;
    }
    .article-card .img-card3 .card-imgbox img {
        width: 100%;
        height: 198px !important;
    }
    .web-header-img {
        background-color: #E1F9D9;
        margin-left: 0;
        display: flex;
        justify-content: center;
        height: 100px;
        border: 2px solid #88B379;
        padding: 27px 31px;
        border-radius: 101px;
        margin-right: auto;
    }
    .money-heading {
        margin-left: 20px;
        margin-top: 20px;
    }
    .money-banner {
        padding-bottom: 0px;
        height: 242px;
    }
    .money-imgbox {
        top: 0;
        margin: 0;
        width: 20%;
        margin: -64px 296px;
    }
    .money-imgbox img {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .for-logo {
        margin-left: 0px;
    }

    .about-web-header {
        margin-left: 13px;
        margin-top: 20px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 30px;
        margin-top: 550px;
    }

    .about-web-header .header-card .row {

        flex-wrap: unset;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .slick-list.draggable {
        height: 455.547px !important;
        width: 600px;
    }

    .vission-imgbox img {
        width: 100% !important;

    }

    .money-heading {
        margin-left: 7px;
        margin-top: -20px;
    }

    .money-imgbox {
        width: 30%;
        top: 4px;
        margin: -63px 211px;
    }

    /* .header-card {
        width: 400px !important;
    } */
    .about-web-header .slick-dots {
        bottom: 65px !important;
        /* right: -78px; */
        /* padding-left: 292px; */
    }

    .article-card1 .img-card1 .card-imgbox img {
        height: auto !important;
        width: 100%;
    }

    .article-card .img-card3 .card-imgbox img {
        height: auto !important;
        width: 100%;
    }

    .about-footer ul li a {
        font-size: 10px;
    }

    .contact-us ul li a {
        font-size: 10px;
    }

    footer h5 {
        font-size: 9px;
    }

    .footer-text {
        margin-top: 53px;
        margin-left: 0;
        width: 100%;
    }

    footer p {
        font-size: 15px;
    }

    .footer h4 {
        font-size: 13px;
    }

    .form-group button {
        right: 18px;
        margin: 0;
    }

    .web-header-img {
        margin: 0;
    }

    .about-card {
        text-align: left;
        padding: 10px 0;
        margin: 0;
    }

    .money-heading button {
        padding: 9px 0px;
    }

    .resources {
        width: 100%;
        text-align: center;
    }

    .footer-heading {
        padding: 10px 0;
        margin-left: 29px;
    }

    .about-footer {
        margin-left: 0;
    }

    .contact-us {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .social-footer {
        padding: 0px 0px 25px 0px;
        width: 100%;
    }

    .footer-border {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer .form-group {
        display: flex;
        margin-top: 28px;
        margin-left: 0;
    }

    .social-footer ul li {
        display: inline-block;
        width: 9%;
    }

    .footer-logo {
        text-align: center;
    }

    .form-group button {
        height: 50px;
    }

    .web-header-img {
        width: 77%;
        height: 90px;
    }

    .money-imgbox img {
        width: 100%;
    }

    .info-imgbox img {
        width: 100%;
    }

    .article-imgbox img {
        width: 100%;
    }

    .card-imgbox img {
        width: 100%;
    }

    footer {
        overflow-x: hidden;
    }

    .about-footer ul {
        margin: 0px;
        padding: 0px;
    }

    .footer-heading {
        margin: 0px;
    }

    .contact-us ul {
        margin: 0px !important;
        padding: 0px !important;
    }

    section.webheader-sec {
        overflow-x: hidden !important;
    }

    .web-header-img {
        width: 50%;
    }

    .about-web-header .header-card .row {
        overflow-x: hidden;
    }
    .vission-sec {
        padding-bottom: 60px;
        overflow-x: hidden;
    }
}

/* frequently-sec end here */
.social-footer i {
    font-family: 'FontAwesome' !important;
}