.terms-conditions {
    padding-top: 75px;
}

p {
    font-family: "Poppins-Regular";
    font-size: 16px;
    color: #303030;
    margin-top: 12px;
}

.terms-conditions-start {
    height: 500px;
    overflow-y: scroll;
}

.terms-conditions-start::-webkit-scrollbar {
    width: 4px;
}

.terms-conditions-start::-webkit-scrollbar-thumb {
    background: #88B379;
    border-radius: 8px;
}

.terms-conditions-start h2 {
    color: #303030;
    font-size: 40px;
    font-family: "Poppins-semibold";
}

.terms-conditions-start h5 {
    color: #303030;
    font-size: 25px;
    font-family: poppins-semibold;
}

.term-on-terms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.agree-on-terms label span {
    color: #303030;
    font-size: 14px;
    font-family: "Poppins-Regular";
}

.accept-btn button {
    color: #FFFFFF;
    font-size: 13px;
    font-family: "poppins-medium";
    background-color: #88B379;
    padding: 10px 35px;
    border-radius: 22px;
    border: 0px;
    transition: 0.6s all;
    cursor: pointer;
}

.space-it {
    margin-top: 10px;
}

.accept-btn button:hover {
    border: 2px solid #88B379;
    background-color: #FFFFFF;
    color: #88B379;
}


/* checkbox  css start here */

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
}

.form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: #88B379;
    border: 2px solid #88B379;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 50%;
}

.form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #ffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


/* checkbox  css end here */