.terms-of-use {
    padding: 94px 0px;
}

.text-wrapper {
    margin-top: 62px;
}

.text-wrapper p{
    color: #303030;
    font-size: 14px;
    font-family: "Poppins-Regular";
    margin-top: 12px;
}